#definition-showing {
  display: none;
}

#definition-showing1 {
  display: none;
}

#definition-showing2 {
  display: none;
}

#definition-showing3 {
  display: none;
}

#definition-showing4 {
  display: none;
}

#definition-showing5 {
  display: none;
}

#definition-showing6 {
  display: none;
}
